#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBOOST_COMPUTE_USE_CPP11=OFF
		-DBOOST_COMPUTE_USE_OFFLINE_CACHE=OFF \
		-DBOOST_COMPUTE_THREAD_SAFE=ON \
		-DBOOST_COMPUTE_ENABLE_COVERAGE=OFF \
		-DBOOST_COMPUTE_BUILD_TESTS=ON \
		-DBOOST_COMPUTE_BUILD_EXAMPLES=OFF \
		-DBOOST_COMPUTE_BUILD_BENCHMARKS=OFF

